doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    a(href="/e1") E1 app
    br
    a(href="/e2") E2 app
    br
    a(href="/e3") E3 app
